img {
height:350px;
width:320px;
}

td {
border:5px solid #0066FF
}

html, body {
height:100%;
margin:0;
padding:0;
background-color:gray;
}

th {
font-size:50px;
color:purple;
}

.soulja {
border:5px solid black;
background-color:brown;
}

#boy {
font-size:40px;
color:green;
}

#wack {
height:100%;
margin:0;
padding:0;
background-color:brown;
}